{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "ignorePatterns": ["node_modules", "dist", "scripts", "example", "tsup.config.ts"],
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": ".",
    "sourceType": "module"
  },
  "rules": {
    "prefer-const": "warn",
    "no-console": "warn",
    "no-debugger": "warn",
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
    "@typescript-eslint/no-unnecessary-type-assertion": "warn",
    "@typescript-eslint/no-shadow": ["warn", { "builtinGlobals": true, "allow": ["_", "Plugin"] }],
    "@typescript-eslint/no-useless-empty-export": "warn",
    "@typescript-eslint/prefer-enum-initializers": "warn"
  }
}
